[submodule "r8ge-video/vendor/stb"]
	path = r8ge-video/vendor/stb
	url = https://github.com/nothings/stb
[submodule "r8ge-video/vendor/glfw"]
	path = r8ge-video/vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "r8ge-video/vendor/glm"]
	path = r8ge-video/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "r8ge-video/vendor/imgui"]
	path = r8ge-video/vendor/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "r8ge-video/vendor/ImGuizmo"]
	path = r8ge-video/vendor/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
